In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.metrics import r2_score

In [2]:
# loading the data from csv file to pandas dataframe
data = pd.read_csv('gld_price_data.csv')
data

           Date          SPX         GLD        USO      SLV   EUR/USD
0      1/2/2008  1447.160034   84.860001  78.470001  15.1800  1.471692
1      1/3/2008  1447.160034   85.570000  78.370003  15.2850  1.474491
2      1/4/2008  1411.630005   85.129997  77.309998  15.1670  1.475492
3      1/7/2008  1416.180054   84.769997  75.500000  15.0530  1.468299
4      1/8/2008  1390.189941   86.779999  76.059998  15.5900  1.557099
...         ...          ...         ...        ...      ...       ...
2285   5/8/2018  2671.919922  124.589996  14.060000  15.5100  1.186789
2286   5/9/2018  2697.790039  124.330002  14.370000  15.5300  1.184722
2287  5/10/2018  2723.070068  125.180000  14.410000  15.7400  1.191753
2288  5/14/2018  2730.129883  124.489998  14.380000  15.5600  1.193118
2289  5/16/2018  2725.780029  122.543800  14.405800  15.4542  1.182033

[2290 rows x 6 columns]

In [5]:
data.corr()

              SPX       GLD       USO       SLV   EUR/USD
SPX      1.000000  0.049345 -0.591573 -0.274055 -0.672017
GLD      0.049345  1.000000 -0.186360  0.866632 -0.024375
USO     -0.591573 -0.186360  1.000000  0.167547  0.829317
SLV     -0.274055  0.866632  0.167547  1.000000  0.321631
EUR/USD -0.672017 -0.024375  0.829317  0.321631  1.000000

In [7]:
x = data.drop(['Date','GLD'],axis=1)
y = data['GLD']
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=41)
 
print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)

(687, 4)
(687,)
(1603, 4)
(1603,)

In [9]:
ln_model=LinearRegression()
ln_model.fit(x_train,y_train)
pred=ln_model.predict(x_test)
r2_score(y_test,pred)

0.8722202537315028

In [11]:
y_test

1389    124.239998
2275    127.599998
260      93.089996
331      93.279999
1895    127.440002
           ...
2059    120.250000
2047    119.620003
1440    126.339996
1384    127.010002
451     105.959999
Name: GLD, Length: 687, dtype: float64

In [10]:
pred

array([117.46872681, 122.9508314 ,  93.60946348,  94.94076102,
       129.09491724, 114.66824098, 110.20809012, 111.36409654,
       138.06661031, 128.91632408, 117.82460771, 153.80736424,
       115.94042679, 121.19896134, 118.6442514 , 117.8982966 ,
        97.09230296, 119.81485375, 106.82002928, 122.34403054,
       110.04722107, 125.98926476, 118.91569136, 120.17537919,
       122.36387373, 158.64021476, 124.33103022, 151.04556107,
       157.10251076, 155.62407974,  88.83802143, 126.39640613,
       134.68087156, 143.52214271, 145.25503514,  98.36845002,
       114.29166595, 148.46996264, 153.61363275, 127.44702366,
       142.71203008, 179.44973466,  90.53580806,  94.99559408,
       145.54783665, 116.11704439, 159.4187772 , 119.52497933,
       117.80765591, 115.06279197, 121.64614003,  85.42147123,
       141.10399037,  97.93796206, 121.92911157,  77.61315041,
       123.26759723, 106.41983182, 110.44796482, 112.84853142,
       120.56930445, 122.21149525, 125.06855866, 111.21461127,
       156.84135014, 115.04106543, 125.38451061, 105.17650143,
       156.51641899, 162.58006703,  84.83660795, 107.11050568,
       120.0966619 , 117.7774673 ,  99.18607715,  95.52998503,
       126.42394402, 158.23079037, 118.65961795, 140.50334128,
       110.08179581, 112.48174856, 121.34399034,  80.60202824,
       111.67732883, 153.62068367,  91.30467996, 122.3516522 ,
       123.15604657, 116.60550096,  93.37488572, 143.44580257,
       119.23744207, 177.23730518, 106.86711261, 121.78427223,
       116.28104956, 102.84416403, 105.8444607 , 149.67830624,
       112.96166802, 116.72198454, 121.50582938,  95.92955233,
       127.966004  , 109.93636404,  98.49652562, 151.3880358 ,
       143.29355332, 152.92999654,  81.95108733, 100.43356681,
       167.35960706, 105.22452566, 110.94347214, 121.0098335 ,
       166.27171515, 114.45720406, 121.05959177, 121.24308216,
       114.80342551, 120.63227005, 141.84153741, 123.45676912,
       103.2931336 , 146.05411494, 120.02041018, 160.17345115,
       116.69323786,  81.86491066, 169.03315837,  95.053942  ,
       156.65104921, 121.21375897, 126.03989282, 146.8542511 ,
       120.10830701,  97.18152763, 115.20776135, 121.75725106,
       142.50237105, 156.77451686, 123.43672503, 114.21965184,
       121.07439579, 111.16680432,  97.14021853, 154.14395927,
       132.97639663, 127.24541681, 115.47693052, 106.1015413 ,
       158.28641923, 119.25121273, 140.60909031, 155.98655332,
       121.41040808, 155.21809349, 139.33271368, 128.98971491,
       125.07205102, 171.30511565, 114.59021513, 114.94156349,
       177.32058596, 112.19078363, 105.59055291, 152.59859023,
       117.59598877, 115.02842623, 123.1123451 , 117.40372346,
       115.48110431, 114.80094664, 120.86278623,  93.91868134,
       121.1887133 , 117.89807361, 121.81158783, 115.33389011,
       116.63221155, 124.33971983, 109.13373308, 150.57406866,
       112.02576011, 114.67684595, 142.2070879 , 120.38602846,
       119.08456826, 114.01967829, 112.152225  , 103.62938102,
       117.76735061, 120.63620381, 121.91832127, 195.74172843,
       151.90942239, 142.00700961, 144.61706947, 115.70018338,
       125.35847916, 150.24020641, 108.73588149, 113.66060881,
       123.30337089, 120.69861226, 130.42890437, 114.98984866,
       111.08545142,  91.35029453, 158.66233083, 127.23166408,
       149.1409385 , 124.45957241, 119.38838716, 122.78981358,
       107.62751995, 122.82659462, 118.11336931,  93.94975448,
       161.76668759, 125.05008499, 122.4240378 ,  97.13096157,
        87.06571536, 128.93782584, 116.13775729,  92.34925608,
       121.34529571, 121.33005622,  78.3178135 , 142.1162807 ,
       117.61147816, 101.55736025, 153.97977276, 141.11720147,
       116.21963439, 122.47413472, 122.69026463, 125.09680114,
       150.3202284 , 123.0552134 , 125.31283183, 123.81825563,
        95.33940554, 120.93708004, 162.88327631,  94.26931317,
       149.63503812,  95.06875008,  95.69480836,  95.50058566,
        95.31638521, 121.21232142, 117.72386686,  86.85080211,
       109.63735061, 102.8725943 , 119.83528835, 120.64240729,
       117.7528774 , 121.9191729 , 110.30252613, 140.3329837 ,
       120.41226269, 122.42104379, 123.17015016, 122.79301985,
       103.13774438, 121.18103612, 155.5791211 , 142.58906845,
       106.471403  , 138.07322418, 122.05151409,  95.08731024,
       116.85960913, 136.20661573, 113.82063155, 119.35068725,
       119.27685891, 124.44365992, 168.89109136, 128.96043862,
       120.22454118, 118.15212994, 120.9958558 , 149.81450976,
       145.41909878, 115.96879633, 104.94073608,  82.42876721,
       117.99539575, 153.32490695, 122.97900543, 122.08911194,
       115.04150816, 145.14131727, 167.90218142, 119.31067706,
       117.52424602,  97.16433601, 118.03962575, 121.17018736,
       155.51349831, 110.65699482, 121.56028118, 102.01575579,
       115.08618475, 166.95440701, 121.60284532, 161.75898725,
        97.17054048, 117.09659362, 118.73110777, 122.31303634,
       141.00932687, 125.47573517,  99.24835768,  88.36341982,
       117.85398428, 116.25966631,  80.13889573, 121.11679262,
       113.5499599 , 127.2755927 , 155.48960001, 124.97910109,
       114.55914096, 116.68628813,  89.03629095, 111.29253988,
       111.29459522,  93.08317972, 112.15062721, 114.73785178,
       127.65056198, 126.31073325,  94.84752895, 108.91464411,
       120.08049485, 103.44419501, 120.68300657, 123.85656563,
       114.36701541, 129.32781747, 117.1424706 , 114.85635954,
        94.55681615, 124.39528843, 140.88114627, 120.02493862,
       159.02624325, 117.97383934,  89.06047931,  81.0725825 ,
       111.87955355, 110.04879641,  96.84471846, 111.22527204,
       115.0727338 , 116.16739837, 187.08172146,  91.44055876,
       175.50126595, 122.5639976 , 121.38397129, 144.82851419,
       120.76339101, 118.64593746, 120.13482232, 122.43342198,
       169.99275296, 122.96048039, 126.70851722, 114.48995614,
       161.51172509, 116.62839278, 157.5888182 , 120.9015422 ,
       118.7164502 , 142.7385696 , 119.40555124, 115.80707306,
       122.25598327,  93.12001784, 117.14920463, 109.39925659,
       111.5570044 , 101.457537  ,  98.67773385, 113.91960697,
       162.88667443, 122.26805353, 110.80481691, 117.75621739,
       114.46384626, 120.40841892, 119.83867679, 164.65807773,
       123.00136389, 122.65158317, 120.21113054, 124.7460679 ,
       126.27285762, 120.50745139, 111.33905727, 124.3118505 ,
       116.48425575, 157.6745707 , 104.36318719, 121.31971727,
       119.96513103, 121.02369591, 163.81733922, 118.42107923,
        96.61812591, 124.94313336,  83.8597859 , 121.02210209,
        88.15125957,  97.81498568, 122.99900157, 144.53725035,
       109.61587204,  96.17603387, 105.1373492 , 139.19397829,
       113.66379885,  92.9274475 , 121.57479379, 120.82448952,
       118.48280763, 117.84747966, 153.73892374, 116.79610573,
       113.17695928, 119.76691168, 158.67195645, 111.81701453,
        92.71028673, 110.91506998, 142.85928789, 124.41140157,
       110.58752802, 120.03859022, 120.97261591, 110.92195667,
       115.94752277, 124.61807393, 112.99049414,  97.7044684 ,
       154.79270755, 110.37749818,  94.82478553, 124.33762512,
       122.99317376, 117.79599758, 116.1907613 ,  94.58854429,
        81.09714051, 164.66884792, 110.56735366, 110.44981425,
       120.21432938, 143.16480978, 120.11832735, 108.38506538,
       115.7381617 , 110.99792478,  96.06086701, 130.88742283,
        91.78064186, 161.85612588, 133.45024326,  95.24223515,
       105.90459653, 105.64568188, 123.34705121, 153.04502398,
       114.26127885,  96.56210697, 156.64223669,  96.05063429,
       149.49340096, 116.71583149, 121.19851473,  99.1680437 ,
       110.69041973, 123.39556992, 124.42529246, 123.16343406,
       111.70342892, 137.87058075, 114.87513061, 158.56211539,
       151.05284001, 110.16388248, 181.91236351,  93.97737608,
       121.41216816, 126.92338663, 113.63033435, 116.79727987,
       107.22891931,  90.29000797, 118.60082552, 123.76371742,
       121.30248767,  99.87727758, 111.45147235, 110.43198197,
       110.06536806, 116.74918817, 171.98451698, 124.39839659,
       179.28822413, 113.24785815, 127.74834171, 110.97645945,
       121.92247684, 121.07381047, 108.34068277, 102.71033737,
       142.94097214, 143.0358173 , 118.00464497, 115.51826419,
       117.39100076, 158.32380254, 127.55464142, 139.29275935,
        88.7648974 , 117.96890086, 100.18806024, 116.08346276,
       121.4081627 , 160.08266705, 111.2479828 , 123.51911961,
       102.60963018, 114.15319995, 148.49385917,  99.05214013,
       132.74953248, 123.47505219, 100.15380411,  99.10726905,
       109.69979482, 119.45473156, 105.59913477, 145.93494549,
        91.33001158, 122.87675894, 120.84092316, 154.15331362,
       154.97617006, 125.18904175, 151.69060397, 119.92299629,
       113.08124773, 109.22225029, 108.96199486,  92.17171351,
       120.26963346, 127.10623873, 115.72107452, 112.19886667,
       114.05983927, 123.654176  , 146.12565881, 201.00574472,
       156.08685918, 122.14918571, 152.61912536, 123.74391334,
       112.39400947, 149.42236767, 130.60383419, 119.968357  ,
       117.11307088, 128.1283636 , 157.64651918, 123.99036925,
       131.24278623, 128.51262266, 108.31946925,  93.18851603,
       113.81717657, 125.03019742, 123.37717135, 125.30222268,
       110.24291207, 107.12651109,  89.65440682, 150.00730499,
       145.53119225, 140.11840228, 102.32618389, 145.4048438 ,
       146.28003865, 142.09657024, 117.76448248, 114.99083251,
       144.45452967, 181.61200361, 120.87212709, 158.39373504,
       161.26020383, 114.98737148, 130.76203626, 124.20144508,
       127.92664451, 113.54994653, 123.89840541, 142.80807075,
       120.41448025, 140.07124502, 120.63845501, 117.97826543,
       108.54327561, 124.74618392, 165.97423947, 118.92169403,
       119.84329353, 125.83882593, 138.80561705, 167.74477536,
       121.52214813, 120.85948976, 124.28310591,  96.17723296,
       125.2439044 , 120.31128039,  97.49018799, 112.68408594,
       117.80684155, 127.60754058, 117.59116647, 157.70686661,
       110.05785155, 177.3745857 , 120.28421721, 121.31617269,
        86.43397128,  95.21237498,  89.86554928, 100.10222141,
       120.39658832, 174.46925339, 162.93167648, 140.03146898,
       118.63300493, 121.25504007, 147.07726966, 109.25430338,
       114.1086689 , 117.40619724, 110.90288822, 160.55272117,
       110.55820936, 111.53958702, 155.86531323, 111.73126643,
        89.60758398, 124.54867755, 119.4998036 , 119.97090665,
       106.8753848 , 114.83754184, 129.36655801, 127.8854304 ,
       146.45112404, 112.64773796, 123.69340661, 116.12087563,
       106.2671239 , 177.70648906,  95.17726296, 112.44029388,
        86.52956373, 146.84061142, 124.15139421, 126.10816641,
       122.78502921, 119.1163527 , 103.57415672])

In [12]:
# loading the linear regression model
lass_reg_model = Lasso()
lass_reg_model.fit(x_train,y_train)
pred=lass_reg_model.predict(x_test)
r2_score(y_test,pred)

0.8703246168717826

In [19]:
from sklearn.ensemble import RandomForestRegressor
rfr=RandomForestRegressor(n_estimators=100)
rfr.fit(x_train,y_train)

RandomForestRegressor()

In [21]:
pred=rfr.predict(x_test)
print(r2_score(y_test,pred))

0.9868189668806104