In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [23]:
data=pd.read_csv('iris.data',names=['sepal_length',
                              'sepal_width',
                              'petal_length',
                              'petal_width',
                              'class'])
data.loc[data['class'] == 'Iris-setosa',['class']]=0
data.loc[data['class'] == 'Iris-versicolor',['class']]=1
data.loc[data['class'] == 'Iris-virginica',['class']]=2
x=data.drop('class',axis=1)
y=data['class']
y=y.astype('int')

In [24]:
data

     sepal_length  sepal_width  petal_length  petal_width class
0             5.1          3.5           1.4          0.2     0
1             4.9          3.0           1.4          0.2     0
2             4.7          3.2           1.3          0.2     0
3             4.6          3.1           1.5          0.2     0
4             5.0          3.6           1.4          0.2     0
..            ...          ...           ...          ...   ...
145           6.7          3.0           5.2          2.3     2
146           6.3          2.5           5.0          1.9     2
147           6.5          3.0           5.2          2.0     2
148           6.2          3.4           5.4          2.3     2
149           5.9          3.0           5.1          1.8     2

[150 rows x 5 columns]

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   sepal_length  150 non-null    float64
 1   sepal_width   150 non-null    float64
 2   petal_length  150 non-null    float64
 3   petal_width   150 non-null    float64
 4   class         150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [26]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=41)
 
print(x_test.shape)
print(y_test.shape)
print(x_train.shape)
print(y_train.shape)

(45, 4)
(45,)
(105, 4)
(105,)

In [27]:
from sklearn.neighbors import KNeighborsClassifier

knn_model=KNeighborsClassifier(n_neighbors=5)
knn_model.fit(x_train,y_train)

KNeighborsClassifier()

In [28]:
pred=knn_model.predict(x_test)
from sklearn.metrics import classification_report,accuracy_score
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.94      0.89      0.91        18
           2       0.88      0.94      0.91        16

    accuracy                           0.93        45
   macro avg       0.94      0.94      0.94        45
weighted avg       0.93      0.93      0.93        45

In [31]:
from sklearn.naive_bayes import GaussianNB

nb_model=GaussianNB()
nb_model.fit(x_train,y_train)

GaussianNB()

In [32]:
nb_pred=nb_model.predict(x_test)
print(classification_report(y_test,nb_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.85      0.94      0.89        18
           2       0.93      0.81      0.87        16

    accuracy                           0.91        45
   macro avg       0.93      0.92      0.92        45
weighted avg       0.91      0.91      0.91        45

In [33]:
from sklearn.svm import SVC

svm_model=SVC()
svm_model.fit(x_train,y_train)

SVC()

In [34]:
svm_pred=svm_model.predict(x_test)
print(classification_report(y_test,svm_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        11
           1       0.94      0.89      0.91        18
           2       0.88      0.94      0.91        16

    accuracy                           0.93        45
   macro avg       0.94      0.94      0.94        45
weighted avg       0.93      0.93      0.93        45